<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mundo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-text class="ion-text-left ion-text-wrap" color="danger">
          Casos Confirmados {{ locates?.general.confirmed.toLocaleString('pt-BR') }}
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <ion-text class="ion-text-left ion-text-wrap" color="dark">
          Mortes Confirmadas {{ locates?.general.deaths.toLocaleString('pt-BR') }}
        </ion-text>
      </ion-col>
      <ion-col size="12">
        <ion-text class="ion-text-left ion-text-wrap" color="success">
          Casos Descartados {{ locates?.general.recovered.toLocaleString('pt-BR') }}
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Acesso Rápido -->
  <ion-searchbar animated placeholder="Acesso Rápido" (ionClear)="clearLocates()" (ionInput)="searchLocates($event)"></ion-searchbar>

  <!-- Skeleton Text -->
  <ion-list *ngIf="locatesFiltred == null">
    <ion-item *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]">
      <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
    </ion-item>
  </ion-list>


  <ion-item lines="none">
    <ion-icon slot="end" name="funnel-outline" (click)="openSelectOrdenar()"></ion-icon>
  </ion-item>

  <ion-select [hidden]="true" #selectOrdenar [interfaceOptions]="interfaceOptions" interface="action-sheet" slot="end"
    value="" okText="Ordenar" cancelText="Cancelar" (ionChange)="sortData($event)">

    <ion-select-option value="Confirmed-crescente">Casos Confirmados crescente</ion-select-option>
    <ion-select-option value="Confirmed-decrescente">Casos Confirmados decrescente</ion-select-option>

    <ion-select-option value="Deaths-crescente">Óbitos crescente</ion-select-option>
    <ion-select-option value="Deaths-decrescente">Óbitos decrescente</ion-select-option>

    <ion-select-option value="Recovered-crescente">Casos Descartados crescente</ion-select-option>
    <ion-select-option value="Recovered-decrescente">Casos Descartados decrescente</ion-select-option>

  </ion-select>  

  <!-- Lista de Pesquisa -->
  <ion-list *ngIf="locatesFiltred != null">
    <ion-item *ngFor="let locate of locatesFiltred" (click)="openDetails(locate)">
      <i slot="start" [ngClass]="'flag-icon flag-icon-' + locate.attributes.Country_Initials"></i>
      
      <ion-label class="ion-text-justify ion-text-wrap">
        <h2>{{ locate.attributes.Country_Region }}</h2>
        <p>{{ locate.attributes.Province_State }} </p>
      </ion-label>
      <ion-badge color="danger" slot="end">{{ locate.attributes.Confirmed }}</ion-badge>
      <ion-badge color="dark" slot="end">{{ locate.attributes.Deaths }}</ion-badge>
      <ion-badge color="success" slot="end">{{ locate.attributes.Recovered }}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>