<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mundo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Acesso Rápido -->
  <ion-searchbar animated placeholder="Acesso Rápido" (ionClear)="clearLocates()" (ionInput)="searchLocates($event)"></ion-searchbar>

  <!-- Skeleton Text -->
  <ion-list *ngIf="locatesFiltred == null">
    <ion-item *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]">
      <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
    </ion-item>
  </ion-list>

  <!-- Lista de Pesquisa -->
  <ion-list *ngIf="locatesFiltred != null">
    <ion-item *ngFor="let locate of locatesFiltred" (click)="openDetails(locate)">
      <i slot="start" [ngClass]="'flag-icon flag-icon-'"></i>
      <ion-label class="ion-text-justify ion-text-wrap">
        {{ locate.attributes.Country_Region }}    
      </ion-label>
      <ion-badge color="success" slot="end">{{ locate.attributes.Recovered }}</ion-badge>
      <ion-badge color="danger" slot="end">{{ locate.attributes.Confirmed }}</ion-badge>
      <ion-badge color="dark" slot="end">{{ locate.attributes.Deaths }}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>