<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Brasil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Acesso Rápido -->
  <ion-searchbar animated placeholder="SUDESTE, Rio de Janeiro, RJ" (ionClear)="clearLocates()" (ionInput)="searchLocates($event)"></ion-searchbar>

  <!-- Skeleton Text -->
  <ion-list *ngIf="locatesFiltred == null">
    <ion-item *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]">
      <ion-skeleton-text animated style="width: 100%;"></ion-skeleton-text>
    </ion-item>
  </ion-list>

  <!-- Lista de Pesquisa -->
  <ion-list *ngIf="locatesFiltred != null">
    <ion-item *ngFor="let locate of locatesFiltred" (click)="openDetails(locate)">
      <ion-icon slot="start" name="pricetags-outline" *ngIf="locate.properties.local == '-'"></ion-icon>
      <i slot="start" class="flag-icon flag-icon-br" *ngIf="locate.properties.local != '-'"></i>
      <ion-label class="ion-text-justify ion-text-wrap" *ngIf="locate.properties.local == '-'">
        {{ locate.properties.estado_geo.toUpperCase() }}    
      </ion-label>
      <ion-label class="ion-text-justify ion-text-wrap" *ngIf="locate.properties.local != '-'">
        {{ locate.properties.estado_geo }}
      </ion-label>      
      <ion-badge color="warning" slot="end">{{ locate.properties.casossuspeitos }}</ion-badge>
      <ion-badge color="success" slot="end">{{ locate.properties.casosdescartados }}</ion-badge>
      <ion-badge color="danger" slot="end">{{ locate.properties.casosconfirmados }}</ion-badge>
      <ion-badge color="dark" slot="end">{{ locate.properties.obitos }}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>